
  .wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
  }
    
  .container {
    background-color: #ffffffb5;
    width: 400px;
    max-width: 100%;
    margin: 0 auto;
  }
  
  .word-crieteria__box {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
  }  
  .word-crieteria__box input[type='checkbox'] {
    width: 20px;
    height: 20px;
    color: black;
  }
  
  .word-crieteria__box label {
    font-weight: 500;
  }
  
